<!doctype html>
<html lang="en" data-bs-theme="light">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS v5.3.8 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
         <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>

   <body class="d-flex flex-column min-vh-100">

   
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2315a2;height: 70px;font-size: 20px;">
  <div class="container-fluid">
  
 

    <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="bi bi-people-fill"></i> Student Portal
                </a>
            </li>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'signin' %}"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">View Student</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">profile</a>
        </li>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Attendance</a>
        </li>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Assignments</a>
        </li>
    </ul>

      <form class="d-flex" action="{% url 'logout' %}" method="post">
      {% csrf_token %}
        <button class="btn btn-outline-danger d-flex align-items-center gap-2" type="submit">
        <i class="bi bi-box-arrow-right"></i> Logout
      </button>
    </form>

    </div>
  </div>
</nav>
<div class="flex-grow-1">
     {% block base %}
        {% endblock base %}
</div>
   


     
  

<!-- footer -->
 <!-- <footer style="background-color: blue; text-white text-center py-3"> -->
  <footer style="background-color: #2315a2; color: white;text-align: center;height: 70px;padding-top: 40px;">

        Student Portal 2026 &copy; All Rights Reserved
    </footer>
    
    </body>
</html>