{% extends 'base.html' %}
{% block base %}
<div>
<h1 style="text-align: center; color: #be1818;font-size: 40px; font-family: 'Arial', sans-serif;">Student List</h1>
</div>

<div class="container-fluid">
<table class="table table-dark w-100%">
    <thead>
        <tr>
            <th>NAME</th>
            <th>DATE OF BIRTH</th>
            <th>STUDENT CLASS</th>
            <th>YEAR</th>
            <th>PICTURE</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in slist %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.dob}}</td>
            <td>{{i.studentclass}}</td>
            <td>{{i.year}}</td>

            <td>
            {% if i.picture %}
            <img src="{{ i.picture.url }}" width="100" height="100">
            {% endif %}
            </td>
            
            <td>
            <a href="{% url 'editstudent' i.id %}" class="btn btn-warning me-2">Edit</a>
            <a href="{% url 'deletestudent' i.id %}" class="btn btn-success me-2">Delete</a>
          </td>
          
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock base %}



